<div id="up">

	<h3>Service Selection:&nbsp;</h3>
	<form id="submiting" method="post" action="/submit">
		<h4>Services:
			<select name='services'>
			  <option value="EC2">EC2</option>
			  <option value="Lambda">Lambda</option>
			</select>
		  </h4>

		<h4>Resources:
			<select name='resources'>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="6">6</option>
			  <option value="7">7</option>
			  <option value="8">8</option>
			  <option value="9">9</option>
			  <option value="10">10</option>
			</select>
		  </h4>

		<p>
			<button type="submit" name="Submit" value="Submit" onclick=>Submit</button>
		</p>
	</form>	

</div>

